# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# MacOS
.DS_Store

# IDE settings
.idea/

# Python stuff
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
.Python
profile_default/
ipython_config.py
venv/
virtualenv/
.venv
.mypy_cache/
pip-log.txt
pip-delete-this-directory.txt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Builds and artifacts
bin/
build/
builds/

# Coverage info
cover.out
cover.html

# Taskfile metadata
.task/

# Terraform sources
.terraform/

# Environment variable files
.env
.envrc

# Localstack
volume/
