services:
  localstack:
    container_name: "grants-ingest-localstack_main"
    image: localstack/localstack
    ports:
      - 4566:4566           # LocalStack Gateway
      - 4510-4559:4510-4559  # external services port range
    environment:
      - DEBUG=${DEBUG-}
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_DEFAULT_REGION=${AWS_REGION:-us-west-2}
    networks:
      - app
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./localstack/entrypoint/init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh"

networks:
  app:
    driver: bridge
